


.audio, .video {
  width: 600px;
  border: 1px solid #666;
  padding: 10px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 40px; }


  .audio h2, .video h2 {
    margin-top: 0; }
.video video {
  width: 100%;
}
.new-progress, .new-volume, .progress {
  height: 20px;
  position: relative;
  overflow: hidden;
  outline: 1px solid #000; }

.new-progress, .new-volume {
  border: 1px solid #fff;
  margin: 5px 0; }

.new-progress .progress .progress-tv, .new-volume > .progress-tv {
  background: #999; }

.new-progress .progress .progress-tv, .new-volume > .progress-tv,
.load-progress {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0; }

.progress-tv {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;  
  background: #999;
}

.load-progress {
  background: #ccc; }



.naviagtion-av button {
  display: inline-block;
  margin-top: 3px;
}


  @media screen and (max-width: 600px) {
    .audio {
      width: 500px;
    }
    .video {
      width: 500px;
    }
  }

  @media screen and (max-width: 500px) {
    .audio {
      width: 400px;
    }
    .video {
      width: 400px;
    }
  }

  @media screen and (max-width: 480px) {
    .audio {
      width: 320px;
    }
    .video {
      width: 320px;
    }
  }